$lightgreen:#7ed56f;
$mediumgreen:#55c57a;
$darkgreen:#28b485;
$color-white:#fff;
$color-black:#000;
$grid-color:orangered;
$light-grey:#f7f7f7;
$light-grey2:#eee;
$darkgrey:#777;
$darkgrey2:#999;
$color-back1:#ffb900;
$color-back2:#ff7730;
$color-back3 :#2998ff;
$color-back4 :#5643fa;
//grid variables

$grid-width:114rem;
$gutter-vertical: 7rem;
$gutter-horizontal: 4.5rem;