div.about_sec {
    background:$light-grey;
    padding: 25rem 0;
    margin-top: -20vh;
}
.features_sec {
    padding: 20px 0;
    background: 
    linear-gradient(to right bottom,
    rgba($lightgreen,0.8),
    rgba($darkgreen,0.8)), 
    url("../img/nat-4.jpg");
    background-size: cover;

    margin-top: -270px;

    transform: skewY(-7deg);
    & > * {
        transform: skewY(7deg);
    }
    
    

}
.feature_box {
    background: rgba($color-white,.8);
    font-size: 15px;
    text-align: center;
    padding: 25px;
    border-radius: 3px;
    box-shadow: 0 15px 40px rgba($color-black,.15);
    transition: all .3s;
    float: left;

    &:hover {
        transform: translateY(-15px) scale(1.03);
    }
    .feature_boxsib {
        .feature_header {
            margin-top: 30px;
            margin-bottom: 15px;
            text-transform: uppercase;
            font-size: 16px;
        }
        .feature_icon {
            font-size: 60px;
            margin-top: 50px;
            background: linear-gradient(to right,$lightgreen,$darkgreen);
            -webkit-background-clip: text;
            color: transparent;
        }
        .feature_paragraph {
            text-align: center;
    
        }
    }
    
}
div.tour {
    background:$light-grey;
    padding: 25rem 0 15rem 0;
    margin-top: -100px;
    h2 {
        font-size: 2.2rem;
        text-transform: uppercase;
        font-weight: 700;
        margin-bottom: 5rem;
        letter-spacing: 2px;
        background: linear-gradient(to right,$lightgreen,$darkgreen);
        display: inline-block;
        -webkit-background-clip: text;
        color: transparent;
        transition: all .2s;

        &:hover {
            transform: skewY(2deg) skewX(15deg) scale(1.1);
            text-shadow: .5rem 1rem 2rem rgba($color-black,.2);
            
        }
    }
    &__footer {
        text-align: center;
        .discover_btn {
            
            
            

        }
    }
}

div.stories_sec {
    padding: 15rem 0;
    position: relative;

    h2 {
        text-align: center;
        font-size: 2.2rem;
        text-transform: uppercase;
        font-weight: 700;
        margin-bottom: 5rem;
        letter-spacing: 2px;
        background: linear-gradient(to right,$lightgreen,$darkgreen);
        display: inline-block;
        -webkit-background-clip: text;
        color: transparent;
        transition: all .2s;

        &:hover {
            transform: skewY(2deg) skewX(15deg) scale(1.1);
            text-shadow: .5rem 1rem 2rem rgba($color-black,.2);
            
        }
    }
}
.story {
    width: 60%;
    margin: 0 auto;
    box-shadow: 0 1rem 6rem rgba(transparent,.5);
    background: rgba($color-white,.6);
    border-radius: 3px;
    padding: 4rem;
    padding-left: 9rem;
    transform: skewX(-12deg);
    

    &>* {
        transform: skewX(12deg);
    }

    &__shape {
        width: 150px;
        height: 150px;
        background: orangered;
        float: left;
        -webkit-shape-outside: circle(50% at 50% 50%);
        shape-outside: circle(50% at 50% 50%);
        clip-path:  circle(50% at 50% 50%);
        transform: translateX(-3rem) skewX(12deg);
        position: relative;
    }
    &__img {
        height: 100%;
        transform: translateX(-3rem);
        backface-visibility: hidden;
        transition: all .5s;
    } 
    &__text {
        transform: skewX(12deg);
    }
    &__caption {
        position: absolute;
        top: 50%;
        right: 50%;
        transform: translate(50%,20%);
        color: $color-white;
        font-size: 17px;
        text-align: center;
        text-transform: uppercase;
        opacity: 0;
        backface-visibility: hidden;
        transition: all .5s;
    }
    &:hover &__caption {
        opacity: 1;
        transition: all .5s;
        transform: translate(50%,-50%);


    }
    &:hover &__img {
        filter: blur(2px);
        transform: translateX(-3rem) scale(1.4);
    }
}
.bg-video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: .15;
    overflow: hidden;

    &__content {
        width: 100%;
        height:100%;
        object-fit: cover;

    }
}
.form_sec {
    padding: 150px 0;
    background: linear-gradient(to right bottom,$lightgreen,$darkgreen);
}
.book {
    box-shadow: 0 1.5rem 4rem rgba($color-black,.6); 
    background: linear-gradient(105deg, rgba($color-white,.9) 0%,rgba($color-white,.9) 50%,transparent 50%), url("../img/nat-10.jpg");
    background-size: cover;

    height: 33rem;

    &__form {
        width: 50%;
        padding: 60px;
    }
    &__texts {
        margin-left:60px;
        margin-bottom: -100px;
        padding-top: 60px;
    }
    &__text {
        text-align: center;
        font-size: 2.2rem;
        text-transform: uppercase;
        font-weight: 700;
        margin-bottom: 5rem;
        letter-spacing: 2px;
        background: linear-gradient(to right,$lightgreen,$darkgreen);
        display: inline-block;
        -webkit-background-clip: text;
        color: transparent;
        transition: all .2s;

        &:hover {
            transform: skewY(2deg) skewX(15deg) scale(1.1);
            text-shadow: .5rem 1rem 2rem rgba($color-black,.2);
            
        }
    }
}
.form {

    
    &__grp {
        &:not(:last-child){
            margin-bottom: 20px;
        }
    }
    &__input {
        color: inherit;
        font-family: inherit;
        font-size: 15px;
        padding: 1rem 2rem;
        border-radius: 2px;
        background: rgba($color-white,.5);
        border-bottom: 3px solid transparent;
        border-left: 1px solid transparent;
        border-top: 1px solid transparent;
        border-right: 1px solid transparent;
        box-shadow: 0 1rem 2rem rgba(transparent,.1);
        transition: all .3s;
        width: 60%;
        display: block;
        outline: none;
        &::-webkit-input-placeholder {
            color:$darkgrey2;
        }
        &:focus:invalid {
            border-bottom: 3px solid $color-back2;
        }

        &:focus {
            outline: none;
            box-shadow: 0 1rem 2rem rgba($color-black,.1);
            border-bottom: 3px solid $lightgreen;
        }
        
    }
    
    
    &__label {
        font-size: .8rem;
        font-weight: 700;
        margin-left: 2rem;
        margin-right: .7rem;
        display: block;
        transition: all .3s;
    }
    &__input:placeholder-shown + &__label {
        opacity: 0;
        transform: translateY(-2rem);

    }
    &__radio-grp {
        width: 42%;
        float: left;
        margin-top: 10px;
        
    }
    &__radio-label {
        font-size: 17px;
        font-family: inherit;
        cursor: pointer;
        position: relative;
        padding-left:2rem
    }
    &__radio-btn {
        height: 20px;
        width: 20px;
        border: 5px solid $mediumgreen;
        border-radius: 50%;
        display: inline-block;
        position: absolute;
        left: -5px;;
        top: -.3rem;
        

        &::after {
            content: "";
            height: .8rem;
            width: .8rem;
            border-radius: 50%;
            position: absolute;
            top: 50%;
            right: -15%;
            transform: translate(-50%,-50%);
            background: $mediumgreen;
            opacity: 0;
            transition: opacity .2s;

        }
    }
    &__radio-input {
        display: none;
    }

    &__radio-input:checked ~ &__radio-label &__radio-btn::after {
        opacity: 1;
    } 
}

.footer {
    background: #333;
    padding: 10rem 0;
    color:#f7f7f7;
    font-size: 14px;
    position: relative;
    &__logo-box {
        text-align: center;
        margin-bottom: 6rem;

        img {
            width: 10%;
        }
    }

    &__list {
        list-style: none;
        

        li {
            display: inline-block;
            text-transform: uppercase;
            &:not(:last-child) {
                margin-right: 15px;
            }
            
            
            
        }
        

    }
    &__link {
        text-decoration: none;
        color: #f7f7f7;
        transition: all .2s;
        &:hover {
            box-shadow:0 1rem 2rem rgba(0,0,0,0.4);
            font-size: 1.2rem;
            transform: skew(12deg);
            color: #55c57a;
        }

        
        
    }
}

.navigation {
    &__checkbox {
        display: none;
    }
    &__button {
        background: $color-white;
        height: 70px;
        width: 70px;
        position: fixed;
        top: 60px;
        right: 60px;
        border-radius: 50%;
        z-index: 2000;
        box-shadow: 0 1rem 3rem rgba($color-black,.1);
        text-align: center;
        cursor: pointer;
    }
    &__background {
        height: 60px;
        width: 60px;
        border-radius: 50%;
        position: fixed;
        top: 65px;
        right: 65px;
        background: radial-gradient($lightgreen,$darkgreen);
        z-index: 1000;
        transition: transform .8s cubic-bezier(1,0,0,1.02);
    }
    &__nav {
        height: 100vh;
        width: 100%;
        position: fixed;
        top: 0;
        left: 0;
        z-index: 1500;

        opacity: 0;
        width: 0;
        transition: all .8s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    }
    &__list {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        list-style: none;
        z-index: 1000;
        text-align: center;
        width: 100%;
    }
    &__item {
        margin: 1rem;
        transform: translateX(10px);
        
    }
    &__link {
        &:link,&:visited {
        display: inline-block;
        font-size: 30px;
        font-weight: 300;
        color: $color-white;
        text-transform: uppercase;
        background: linear-gradient(120deg,transparent 50%,$color-white 50%);
        text-decoration: none;
        background-size: 225%;
        transition: all .4s;
        padding: 20px;
        font-weight: 500;

        
        }
        &:hover,&:active {
            background-position: 100%;
            color: $mediumgreen;
            transform: translateX(1rem);
        }
        
    }

    &__checkbox:checked ~ &__background {
        transform: scale(80);

    }
    &__checkbox:checked ~ &__nav {
        opacity: 1;
        width: 100%;
        
    }
    &__icon {
        position: relative;
        margin-top: 35px;
        &,&::before,&::after {
            width: 30px;
            height: 2px;
            background: #333;
            display: inline-block;
        }
        &::before,&::after {
            content: "";
            position: absolute;
            left: 0;
            transition: all .2s;
        }
        &::before {
            top:-8px;

        }
        &::after {
            top: 8px;
        }

    }
    &__button:hover &__icon::before {
        top: -10px;
    }
    &__button:hover &__icon::after {
        top: 10px;
    }

    &__checkbox:checked + &__button &__icon {
        background: transparent;
    }
    &__checkbox:checked + &__button &__icon::before {
        transform: rotate(135deg);
        top: 0;
    }
    &__checkbox:checked + &__button &__icon::after {
        top: 0;
        transform: rotate(-135deg);
    }
}
.popup {
    height: 100vh;
    width: 100%;
    position: fixed;
    z-index: 2000;
    top:0;
    left: 0;
    background: rgba($color-black,.8);
    opacity: 0;
    visibility: hidden;
    transition: all .7s;
    &:target {
        opacity: 1;
        visibility: visible;
    }
    &__content {
        width: 75%;
        background: $color-white;
        height: 500px;
        box-shadow: 0 2rem 4rem rgba($color-black,.2);
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        border-radius: 3px;
        display: table;
        overflow: hidden;
    }
    &__left {
        width: 33.33333%;
        display: table-cell;
        vertical-align: middle;
    }
    &__right {
        width: 66.666667%;
        display: table-cell;
        vertical-align: middle;
        padding: 3rem 5rem;

    }
    &__img {
        display: block;
        width: 100%;
        height: 250px;
    }
    &__text {
        font-size: 14px;
        margin-top: 10px;
        width: 110%;
        column-count: 2;
        column-gap: 3rem;
        column-rule: 1px solid #eee;

        -moz-column-count: 2;
        -moz-column-gap: 3rem;
        -moz-column-rule: 1px solid #eee;
        line-height: 1.7;
        hyphens: auto;
    }
    &__header {
        text-align: center;
        font-size: 2.2rem;
        text-transform: uppercase;
        font-weight: 700;
        letter-spacing: 2px;
        background: linear-gradient(to right,$lightgreen,$darkgreen);
        display: inline-block;
        -webkit-background-clip: text;
        color: transparent;
        transition: all .2s;
        margin-top: -20px;

        &:hover {
            transform: skewY(2deg) skewX(15deg) scale(1.1);
            text-shadow: .5rem 1rem 2rem rgba($color-black,.2);
            
        }
    }
    &__subhead {
        font-size: 16px;
        text-transform: uppercase;
        margin-top: 20px;
    }
    &__btn {
        margin-top: 40px;
    }
    &__close {
        &:link,&:visited {
            color: #777;
            position: absolute;
            top: 0.5rem;
            right: 1.5rem;
            font-size: 2rem;
            text-decoration: none;
        }
        &:hover {
            color: $mediumgreen;
        }
    }
}
    

